# Ignorar todas las dependencias locales y de cualquier subdirectorio
**/node_modules

# Ignorar artefactos de construcción
**/dist
**/coverage
.angular

# Archivos de entorno
.env

# Logs y archivos del IDE
npm-debug.log
.vscode
.idea

# Archivos de Git
.git
.gitignore

# Archivos de sistema operativo
.DS_Store
Thumbs.db
