version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-server
    restart: unless-stopped
    env_file: .env
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD} # contraseña root
      - MYSQL_DATABASE=${DB_NAME}               # base de datos del proyecto
      - MYSQL_USER=${DB_USER}                   # usuario de la app
      - MYSQL_PASSWORD=${DB_PASSWORD}           # contraseña del usuario
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    depends_on:
      - mysql
    ports:
      - "8080:80" # phpMyAdmin en http://localhost:8080
    environment:
      - PMA_HOST=mysql
      - PMA_PORT=3306

  backend:
    build:
      context: .
      dockerfile: Servidor/Dockerfile.dev
    container_name: reserva-api-dev
    depends_on:
      - mysql
    ports:
      - "3000:3000"
    volumes:
      - ./Servidor:/app
      - /app/node_modules
    env_file:
      - .env
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Frontend/Dockerfile.dev
    container_name: reserva-frontend-dev
    ports:
      - "4200:4200"
    volumes:
      - ./Frontend:/app
      - /app/node_modules
    restart: unless-stopped

volumes:
  db_data:
