services:
  api:
    build:
      context: .
      dockerfile: Servidor/Dockerfile.prod
    container_name: reserva-api-prod
    ports:
      - "3000:3000"
    env_file:
      - .env
    networks:
      - shared-network
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Frontend/Dockerfile.prod
    container_name: reserva-frontend-prod
    ports:
      - "4000:4000"
    depends_on:
      - api
    networks:
      - shared-network
    restart: unless-stopped

networks:
  shared-network:
    external: true
