services:
  backend:
    build:
      context: .
      dockerfile: Servidor/Dockerfile.dev
    container_name: reserva-api-dev
    ports:
      - "3000:3000"
    volumes:
      - ./Servidor:/app
      - /app/node_modules # Evita que los node_modules locales sobrescriban los del contenedor
    env_file:
      - .env
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Frontend/Dockerfile.dev
    container_name: reserva-frontend-dev
    ports:
      - "4200:4200"
    volumes:
      - ./Frontend:/app
      - /app/node_modules
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
