<div class="d-flex" id="wrapper">
  
  <div class="overlay" *ngIf="isMobile && isSidebarOpen" (click)="toggleSidebar()"></div>

  <div class="border-end bg-white" id="sidebar-wrapper" 
       [class.d-none]="isMobile && !isSidebarOpen"
       [class.collapsed-wrapper]="!isMobile && !isSidebarOpen">
       
       <app-sidebar [isCollapsed]="!isMobile && !isSidebarOpen"></app-sidebar>
  </div>

  <div id="page-content-wrapper" class="w-100">
    <app-navbar (toggleSidebar)="toggleSidebar()"></app-navbar>
    
    <div class="container-fluid mt-3">
      <router-outlet></router-outlet>
    </div>
    
    <app-footer></app-footer>
  </div>
</div>