version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-server
    restart: unless-stopped
    env_file: .env
    environment:
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - shared-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    depends_on:
      - mysql
    ports:
      - "8080:80" # Accederás a phpMyAdmin en http://<IP_DEL_SERVIDOR>:8080
    environment:
      - PMA_HOST=mysql # Le dice a phpMyAdmin que se conecte al servicio 'mysql'
      - PMA_PORT=3306
    networks:
      - shared-network

volumes:
  db_data: # Este volumen guardará tus datos de forma segura

networks:
  shared-network:
    external: true # Le dice a Compose que use la red que ya creamos